@font-face{
  font-family:"EmojiSymbols";
  src:url(assets/fonts/EmojiSymbols-Regular-37883244862ada81e50a5c43f090ab5b696a4d27c5e66d321546a1638bb1e682.woff) format("woff");
}

:focus {
  outline: none;
}

*,
body,
html {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

body, 
html,
#outer-container,
#inner-container {
  overflow: hidden;
  height: 100%;
  width: 100%;
}
#outer-container {
  /**/
}

#inner-container {
  background: whitesmoke;
  display: flex;
  flex-flow: column;
}

header {
  background: whitesmoke;
  /*box-shadow: 0 0 5px #333;*/
  height: 100px;
  box-sizing: border-box;
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1em;
}

header {
  display: block;
}

h1 {
  font-size: 1.3em;
  padding-left: 79px;
}

h1:before {
  content: "\1F379";
    position: absolute;
    border: 5px solid #c6c5c5;
    padding: 1em;
    position: absolute;
    left: 0.5em;
    border-radius: 100%;
    background: white;
    top: 8px;
}

header p {
  font-style: oblique;
  font-size: .8em;
  border-top: 1px solid #b7b7b7;
  padding-top: .5em;
  padding-left: 77px;
}

section {
  flex-grow: 2;
  background: white;
  border-radius: 1em 0 0 1em;
  margin: 0 0 60px 1em;
  padding: 1em 0 1em 1em;
  border: 1px solid #eee;
  overflow: overlay;
}
footer {
  background: whitesmoke;
  /*box-shadow: 0 0 5px #333;*/
  /*height: 100px*/
  /*padding: .7em 0;*/
  height: 60px;
  z-index: 5;
}

footer ul,
footer li {
  list-style: none;
}

footer ul {
  display: flex;
  height: 100%;
}

footer li {
  flex-grow: 1;
}

.hide-button {
  display: none;
}

footer button,
footer button:hover {
  background: none;
  color: rgb(216, 123, 123);
  cursor: pointer;
  border: 0;
  display: flex;
  align-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.nav-icon {
  display: block;
  font-family: "Times", "Times New Roman", "serif", "sans-serif", "EmojiSymbols";
  font-size: 2em;
}

footer li:hover button {
  color: #000;
}

.nav-icon {
  display: block;
}

@media only screen and (max-width: 650px) {

  .body-results h2:before {
    content: ' ';
    display: block;
    height: 100px;
    width: 100px;
    background-image: var(--thumb);
    background-size: contain;
    background-position: center;
    border-radius: .5em;
    /*
    position: absolute;
    right: -0.5em;
    right: calc(-100px + 1em);
    /* top: 98%; */
    z-index: 3;
    bottom: -2em;
    box-shadow: 2px 2px 3px rgba(51, 51, 51, .5);
    
    float: right;

    box-shadow: 1px 1px 0px #333, -1px -1px 0px #333, 1px -1px 0px #333, -1px 1px 0px #333;
  
    /* border: 1px solid #ececec; */
    border-radius: .5em 0 0 .5em;
    border-radius: .5em;
}

}


.mood-slider,
.cocktail-slider {
  
  height: 450px;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  z-index: 3;
}

.slider {
  width: 100%;  
}

.holder {
  width: 100%;
  display: flex;
}

.slide {
  height: 450px;
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
}

.mood-slide {
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  display: block;
  cursor: pointer;
  z-index: 0;
  transition: transform .4s;
  position: relative;
  z-index: 2;
  flex-grow: 1;
}

.mood-text {
  color: #ffffff;
  display: block;
  font-size: 2em;
  padding: 1em;

  text-shadow: 1px 1px 0px #333, -1px -1px 0px #333, 1px -1px 0px #333, -1px 1px 0px #333;
}


@media only screen and (min-width: 650px) {

  .slide:hover .mood-slide {
    box-shadow: 0 0 10px #000;
    border-radius: .5em;
    transform: scale(1.1); 
    transform-origin: 50%;
    z-index: 5;
    position: relative;
  }

}

/*
.slide span:hover {
  width: 23%;
  height: 500px;
  transform: scaleY(1.2); 
  transform-origin: 100% 100%;
}
*/
.mood,
.cocktail {
  /*position: absolute;
  font-size: 60px;
  bottom: 15px;
  left: 15px;*/
  height: 100%;
  font-weight: 100;
}

#slide-0 .mood-slide { background-image: url(images/mood-0.jpg); }
#slide-1 .mood-slide { background-image: url(images/mood-1.jpg); }
#slide-2 .mood-slide { background-image: url(images/mood-2.jpg); }
#slide-3 .mood-slide { background-image: url(images/mood-3.jpg); }
#slide-4 .mood-slide { background-image: url(images/mood-4.jpg); }
#slide-5 .mood-slide { background-image: url(images/mood-5.jpg); }
.slider-nav {
  text-align: center;
  margin: 10px 0 0 0;
}

.slider-nav .nav-icon {
  color: #f5f5f5;
  text-shadow: 1px 1px 0px #333, -1px -1px 0px #333, 1px -1px 0px #333, -1px 1px 0px #333;
}

@media only screen and (max-width: 650px) {

  section {
    position: relative;
  }
  .holder {

    height: 100%;
    width: 100%;
  }

  .mood-slider,
  .cock tail-slider {

    height: 100%;
    width: 100%;
  }

  .slider {
    height: 100%;
    width: 100%;
    border-radius: 1em 0 0 1em; 
    overflow: hidden;
    /*overflow-y: scroll;*/
  }

  .holder {
    overflow-x: overlay;
    scroll-snap-type: x mandatory;
  }

  .slide {
    height: auto;
    min-height: 100%;
    min-width: 100%;
    scroll-snap-align: start;
  }

  /*
  .slide span {

  }
*/
  .slider-nav {
    background: rgba(255,255,255,.5);
    display: block !important;
    position: absolute;
    bottom: 1em;
    left: 1em;
    right: 1em;
    z-index: 5;
  }

  .slider-nav a,
  .slider-nav a:hover {
    color: #333;
    font-family: "Times", "Times New Roman", "serif", "sans-serif", "EmojiSymbols";
    padding: 0.3em;
    font-size: 1.3em;
    display: inline-block;
    text-decoration: none;
  }
} 

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
}





.viewport {
  display: flex;
  height: 100%;
  min-height: 100%;
  position: relative;
  transition: opacity .4s linear, left .7s linear;
  
}

.engaged {
  left: 0;
  opacity: 1;
  
}

.hide {
  left: 100%;
  opacity: 0;;
}

.collapse {
  display: none;
}

.template {
  display: none;
}

#page-results,
#page-list-try,
#page-list-fav,
#page-search-results {
  overflow-x: overlay;
  scroll-snap-type: x mandatory;
}

#page-search, 
#page-landing {
  
}

.body-results {
  background-position-x: center;
  display: flex;
  flex-flow: column;
  height: 100%;

  border-radius: 1em;
  color: #ffff;
  padding: 1em;
  scroll-snap-align: start;
  
  min-width: calc(100% - 4em);
  min-width: calc(100% - 3em);
  max-height: calc(100% - 2em);
}

/*
@media(min-width: 500px) {
*/
  .body-results h2 {
    position: relative;
    margin-right: -50px;
    margin-right: -1em;
    margin-right: -0.5em;
    margin-right: 0;
  }



.body-drink-name {
  display: none;
}

.body-image-display {
  
  display:  none;
}
/*

.body-image-frame {
  position: absolute;
  text-align: right;
}

.body-image-frame img {
  max-width: calc(100% / 3);
  border-radius: 1em;
}
*/

.body-results h2,
.body-search h2 {
  font-size: 2em;
  flex-grow: 1;
  text-shadow: 1px 1px 1px #333333;
  margin-bottom: 1em;
}

.body-results h3,
.body-search h3 {
  border-top: 1px solid #dddddd;
  font-weight: bold;
  font-size: 1.1em;
  margin: 1em 0 .5em;
  padding: 0.5em 0;
}

.body-results h3:first-child {
  border: 0;
  margin-top: 0;
}

.body-results-container {
  display: flex;
  flex-flow: column;
  height: 100%;
  
}

/*
.body-results-container::before {
  content: ' ';
  background: var(--thumb);
  background-size: contain;
  height: 100px;
  width: 100px; 
  /* position: absolute; */
  /* top: 0; *
}
*/

.results-info-box {
  background: rgba(245, 245, 245, 0.6);
  border-radius: 1em;
  color: #333;
  box-shadow: 2px 2px 3px rgba(51, 51, 51, .5);
  padding: 1em; 
  overflow: overlay;

  backdrop-filter: blur(5px);
}

.results-info-box p {
  word-spacing: pre;
}

.results-info-box p::before {
  content: '- ';
}

.results-shortcut {
  margin-top: 1em;

  
    margin-top: 1em;
    position: sticky;
    bottom: 0;

}

.body-search {

}

@media only screen and (min-width: 650px) {

  header {
    min-height: 100px;
  }

  .slider,
  .slide,
  .holder {
    height: auto;
    min-height: 100%;
    min-height: 100%;
    max-height: 100%;
  }

  section {
    padding: 1em;
    margin-right: 1em;
    overflow-y: visible;
    overflow-y: scroll;
    overflow-y: overlay;

    overflow: hidden;
    
    position: relative;
  }

  .mood-text {
    font-size: 2em;
    font-size: 5vmin;
    line-height: 3vmax;
    font-size: 1.9em;
    line-height: 1.05em;
    display: block;
    word-break: break-word;
    text-align: center;
    font-family: 'Major Mono Display', monospace;
    font-family: 'Overpass Mono', monospace;
    font-weight: bold;
    max-width: 1%;

    /*
    overflow: hidden;
    white-space: nowrap;;
    text-overflow: ellipsis;

    */
  }

  .mood-text::first-letter {
    font-family: 'Major Mono Display', monospace;
    font-weight: normal;
  }

  .slider-nav {
    display: none;
  }
  #page-results,
  #page-search-results,
  #page-list-fav,
  #page-list-try {
    flex-flow: row;
    flex-wrap: wrap;

    align-items: flex-start;
    justify-content: space-between;
    align-content: space-between;

    overflow-y: visible;
    margin-right: 50%;
    margin-right: 30%;
    margin-right: 58%;

    justify-content: flex-start;
    align-content: flex-start;
    position: static;
    scroll-snap-type: y mandatory;

    overflow: hidden;
    overflow-y: overlay;
  }
/*
  div#page-results:before {
    content: " ";
    background: #ffffff00;
    display: block;
    /* height: 100%; *
    width: 70%;
    position: absolute;
    left: 1em;
    top: 0;
    border-radius: 2em;
    border: 1em solid white;
    bottom: 0em;
    pointer-events: none;
    z-index: 5;
    right: 30%;
    margin-right: 7px;
}
*/
  .body-results {
    cursor: pointer;
    background-size: contain;
    scroll-snap-stop: start;
    /*
    width: 100px;
    min-width: 100px;
    max-width: 100px;
    height: 100px;
    max-height: 100px;
    min-height: 100px;
    margin: 1em;

    width: 12vh;
    min-width: 12vh;
    max-width: 12vh;
    height: 12vh;
    max-height: 12vh;
    min-height: 12vh;
    */

    width: calc(100% / 3);
    min-width: calc(100% / 3);
    max-width: calc(100% / 3);
    height: unset;
    max-height: unset;
    /*
    height: 12vh;
    max-height: 12vh;
    min-height: 12vh;
    */
    
    margin: 0;
    padding: 0;
    border-radius: 0;
    
    scroll-margin-top: 2em;

    flex: 0 0 calc(100% / 3);
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: stretch;
  }

@media only screen and (min-width: 650px) {

    .body-results:only-of-type {
      width: 100% !important;
      max-width: 100% !important;
      min-width: 100% !important;
      border-radius: 1em;
    }

    .body-results:after {
      content: '';
      display: table;
      padding-top: 100%;
  }

}

@media screen and (max-width: 650px) {

  .body-results:only-of-type {
    margin-right: 1em;
  }
}
/*
  .body-results:after {
    content: attr(data-drink-name);
    text-shadow: 1px 1px 2px #000000;
    font-size: 1em;
    font-weight: bold;
    margin: -.5em;
    color: white;
}*/
.body-drink-name {
  position: relative;
  display: block;
}

.body-drink-name:before {
  content: attr(data-drink-name);
  text-shadow: 1px 1px 2px #000000;
  text-shadow: 1px 1px 0px #333, -1px -1px 0px #333, 1px -1px 0px #333, -1px 1px 0px #333;
  font-size: 1em;
  font-weight: bold;
  /* margin: -.5em; */
  color: white;
  position: absolute;
  /* bottom: 100%; */
  width: 100%;
  /* margin-top: -100%; */
  height: 100%;
  /* background: blue; */
  /* top: 0; */

  padding: 0.5em 1em 0.5em 0.5em;
  box-sizing: border-box;

  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.body-results:only-of-type .body-drink-name:before {
  font-size: 2.5em;
}

  .body-results-container {
    display: none;
    position: absolute;
  }
  

  /*.body-results:hover,*/
  .body-results:focus,
  .body-results:focus-within {
    z-index: 2;
  }

  /*.body-results:hover .body-results-container,*/
  .body-results:focus .body-results-container,
  .body-results:focus-within .body-results-container {
    display: block;
    position: absolute;
    left: 100%;
    left: 40%;
    left: calc(40% + 1em);
    z-index: 2;

    margin-left: 1em;
    /* width: 100%; */
    /* margin-right: 1em; */
    right: -100%;
    right: -40%;
    right: 30%;
    
    right: calc(30% - 0em);
    top: 1em;
  }

  .body-results:focus .body-results-container h2,
  .body-results:focus-within .body-results-container h2 {
    color: #333;

  }

  /*

  .body-results:focus:before {
    content: " asdasd";
    position: absolute;
    left: calc(70% + 1em);
    height: 100px;
    /* background: blue; *
    right: 1em;
    background-image: var(--thumb);
    background-size: contain;
    height: calc(39% - 1em);

  /*
  .body-results:focus ::before {
    content: ' ';
    background: var(--thumb);
    background-size: contain;
    height: 100px;
    width: 100px; 
    /* position: absolute; *
    /* top: 0; *
  }
  */

  .body-image-display {
    display: none;
  }
  .body-results:focus .body-image-display,
  .body-results:focus-within .body-image-display {
    position: absolute;
    right: 1em;
    left: calc(70% + 1em);
    /* height: 100%; */
    display: flex;
    /* flex-direction: column; */
    /* align-items: flex-start; */
    /* align-content: flex-start; */
    top: 1em;
    /* flex-direction: column; */
    /* align-content: baseline; */
    /* flex: 1; */
    /* align-items: unset; */
    align-items: flex-start;
    /* justify-content: flex-start; */
    /* height: 100%; */
    bottom: 1em;
  }

  .body-results:focus .body-image-display .body-image-frame {
    
  }

  .body-image-frame img {
    box-shadow: 2px 2px 3px rgba(51, 51, 51, .5);
    max-width: 100%;
    border-radius: 1em;
}

  .results-info-box {
    margin-top: 1em;
  }

  .results-info-box h2 {
    color: #333333;
  }

  div#page-results:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 1em;
    top: 1em;
    height: 2em;
    width: 2em;
    border-top-left-radius: 1em;
    box-shadow: -1em -1em 0 0 #ffffff;
  }

  div#page-results:after {
    content: ' ';
    display: block;
    position: absolute;
    left: 1em;
    bottom: 1em;
    height: 2em;
    width: 2em;
    border-bottom-left-radius: 1em;
    box-shadow: -1em 1em 0 0 #ffffff;
  }
}
/*
.ui.selection.dropdown .menu {

}
*/

.body-search {
  width: calc(100% - 1em);
}

.ui.selection.dropdown .menu,
.ui.fluid.dropdown {
  box-sizing: border-box;
  min-height: auto;
}


@media only screen and (min-width: 650px) {
  .body-search {
    width: 100%;
  }
}

.or:before {
  box-shadow: 1px 1px 0px #a4a4a4, -1px -1px 0px #a4a4a4, 1px -1px 0px #a4a4a4, -1px 1px 0px #a4a4a4 !important;
}

#page-list-try .viewport.engaged span:only-child,
#page-list-fav .viewport.engaged span:only-child {
  display: block;
}
#page-list-try .viewport.engaged span:only-child:before,
#page-fav-try .viewport.engaged span:only-child:before {

}
#page-list-try .viewport.engaged span:only-child:after,
#page-list-fav .viewport.engaged span:only-child:after {
  content: "You have no drinks saved!";
}

.results-shortcut .icon:first-child {
  display: none;
}

.results-shortcut .basic .icon {
  display: inline-block !important;
}

.results-shortcut .basic .icon:nth-child(2) {
  display: none !important;
}