/*favourites Page*/
body {
    background-color: white;
  }
  
  header {
    background: whitesmoke;
    /* box-shadow: 0 0 5px #333; */
    height: 100px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1em;
    display: none;
  }
  
  section {
    display: flex;
    flex-grow: 2;
    background: white;
    padding: 0em;
    margin: 0;
    flex-wrap: wrap;
    flex-direction: row;
  }
  
  .image {
    border-radius: 10px;
    background-image: url("kugu2m1504735473.jpg");
    background-position: left top;
    width: 350px;
    height: 550px;
    margin: 40px;
    position: relative;
        top: 30px;
        right: -17px;
  }
  
  h2 {
    color : white;
    padding: 30px;
    position: relative;
      right: -2px;
      top: 18px;
  }
  
  .favourite {
    width: 20px;
    height: 20px;
    position: relative;
      left: -5px;
      top: -10px;
  }
  
  h3 {
    position: relative;
      left: 29px;
      top: 0px;
  }
  
  .card-body {
    border-radius: 25px;
    background:whitesmoke;
    padding: 20px;
    margin-bottom: 20px;
    width: 250px;
    height: 100px;
    position: absolute;
        bottom: -95px; /*desktop*/
        left: -27px;  /*desktop*/
  
  }
  
  /*styles for Results page*/
  body {
    background-color: white;
  }

  
  .imageResults {
    border-radius: 10px;
    background-image: url("kugu2m1504735473.jpg");
    background-position: left top;
    width: 150px; /*Desktop*/
    height: 150px; /*Desktop*/
    margin: 30px;
    position: relative;
      top: 12px; /*Desktop*/
      right: -35px; /*Desktop*/
  }
  
  h2 {
    color : white;
    padding: 30px;
    position: relative;
      right: -4px;
      top: 4px;
  }
  
  .favourite {
    width: 20px;
    height: 20px;
    position: relative;
      left: -5px;
      top: -10px;
  }
  
  h5 {
    position: relative;
      left: 29px;
      top: 0px;
  }

  .imageResults:hover div {
    display: block;
  }

  
  .drinkInfobox {
    border-radius: 25px;
    background: whitesmoke;
    margin-bottom: 10px;
    padding: 20px;
    width: 400px;
    height: 400px;
    position: relative;
    left: 196px;
    bottom: 478px;
    display: none;
  }


 .background {
  border-radius: 25px;
  height: 400px;
  width: 500px;
  position: relative;
    bottom: 54px;
    right: -684px;
  display: none;
}


  .hidden5 {
    position: absolute;
    left: -144px;
  }
  
  #button1 {
    background-color: pink;
    border-radius: 25px;
    border: none;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    position: relative;
      left: 19px;
      top: 310px;
  }
  
  #button2 {
    background-color: pink;
    border-radius: 25px;
    border: none;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    position: relative;
      left: 109px;
      top: 308px;
  }

  /*styles for Search page*/
  #background {
    background-image: url("kugu2m1504735473.jpg");
  }

  label {
    margin-top: 40px;
    margin-bottom: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .container {
    display: flex;
  }

  .searchText {
    color: black;
  }

  .searchbox {
    justify-content:center;
    border-radius: 25px;
    background: whitesmoke;
    margin-bottom: 10px;
    padding: 20px;
    width: 400px;
    height: 400px;
 
  }

  #searchbox1 {
    position: relative;
    left: 215px;
    top: 59px;
  }

  #searchbox2 {
    position: relative;
    left: 316px;
    top: 59px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    overflow: auto;
  }

  .btnStyle {
    background-color: pink;
    border-radius: 25px;
    border: none;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px ;
    margin-bottom: 20px;
  }


  
  
  
  